.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/*

PARENT  CONTAINER TO THE SIDE

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 1%;
  top: 20%;
  z-index: 1000;
} */

#floating-panel {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  font-family:
    "Raleway",
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
}

#floating-panel input,
#floating-panel select {
  margin: 5px 0;
  padding: 8px;
  font-size: inherit;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 100%;
}

#floating-panel {
  color: black;
}

.directions #floating-panel .directions-button {
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.1rem;
}

.directions #floating-panel .directions-button:hover {
  color: black;
}
